<div id="divantipasto" class="container-prodotti" style="display: none">
    <h2>Antipasti</h2>
    <table class="table" id="tableantipasto">
        <!-- contenuto autogenerato da script -->
    </table>
</div>
<div id="divcontorno" class="container-prodotti" style="display: none">
    <h2>Contorni</h2>
    <table class="table" id="tablecontorno">
        <!-- contenuto autogenerato da script -->
    </table>
</div>
<div id="divdessert" class="container-prodotti" style="display: none">
    <h2>Dessert</h2>
    <table class="table" id="tabledessert">
        <!-- contenuto autogenerato da script -->
    </table>
</div>
<div id="divprimo_di_pesce" class="container-prodotti" style="display: none">
    <h2>Primi di pesce</h2>
    <table class="table" id="tableprimo_di_pesce">
        <!-- contenuto autogenerato da script -->
    </table>
</div>
<div id="divprimo_di_carne" class="container-prodotti" style="display: none">
    <h2>Primi di carne</h2>
    <table class="table" id="tableprimo_di_carne">
        <!-- contenuto autogenerato da script -->
    </table>
</div>

<div id="divsecondo_di_pesce" class="container-prodotti" style="display: none">
    <h2>Secondi di pesce</h2>
    <table class="table" id="tablesecondo_di_pesce">
        <!-- contenuto autogenerato da script -->
    </table>
</div>
<div id="divsecondo_di_carne" class="container-prodotti" style="display: none">
    <h2>Secondi di carne</h2>
    <table class="table" id="tablesecondo_di_carne">
        <!-- contenuto autogenerato da script -->
    </table>
</div>
<div id="divbibita" class="container-prodotti" style="display: none">
    <h2>Bibite</h2>
    <table class="table" id="tablebibita">
        <!-- contenuto autogenerato da script -->
    </table>
</div>


