<div class="form-row" style="margin-top: 2vh;">
    <div class="btn-group-toggle" data-toggle="buttons" style="width: 100%;">
        <label class="btn btn-outline-success" style="width: 100%;">
            <input type="checkbox" autocomplete="off" id="asporto"> Asporto
        </label>
    </div>
    <div id="rowCognome" class="col-12" style="margin-top: 4vh; display:none;">
        <h4>Cognome</h4>
        <input type="text" id="cognome" class="form-control" style="margin-top: 2vh;">
    </div>
    <div id="rowNumeroTavolo" class="col-12" style="margin-top: 4vh;">
        <h4>Numero Tavolo</h4>
        <select id="numeroTavolo" class="custom-select" style="margin-top: 2vh;">

        </select>
    </div>
    <div id="rowNumeroPersone" class="col-12" style="margin-top: 4vh;">
        <h4>Numero Persone</h4>
        <select id="numeroPersone" class="custom-select" style="margin-top: 2vh;">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
        </select>
    </div>
</div>
