<div id="divantipasto" class="container-prodotti" style="display: none">
    <h2>Antipasti</h2>
    <table class="table" id="tableantipasto">
        <!-- contenuto autogenerato da script -->
    </table>
</div>
<div id="divprimi" class="container-prodotti" style="display: none">
    <h2>Primi Piatti</h2>
    <table class="table" id="tableprimi">
        <!-- contenuto autogenerato da script -->
    </table>
</div>
<div id="divsecondi" class="container-prodotti" style="display: none">
    <h2>Secondi Piatti</h2>
    <table class="table" id="tablesecondi">
        <!-- contenuto autogenerato da script -->
    </table>
</div>

<div id="divcontorno" class="container-prodotti" style="display: none">
    <h2>Contorni</h2>
    <table class="table" id="tablecontorno">
        <!-- contenuto autogenerato da script -->
    </table>
</div>

<div id="divbibita" class="container-prodotti" style="display: none">
    <h2>Bibite</h2>
    <table class="table" id="tablebibita">
        <!-- contenuto autogenerato da script -->
    </table>
</div>
<div id="divdessert" class="container-prodotti" style="display: none">
    <h2>Dessert</h2>
    <table class="table" id="tabledessert">
        <!-- contenuto autogenerato da script -->
    </table>
</div>